html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
  margin-bottom: 12rem;
}

.header {
  display: flex;
  justify-content: center;
  padding: .5rem;
  box-shadow: 0 .2rem .2rem -.2rem rgba(0,0,0,.87);
  background-color: #FF8625;
}

.header__title {
  font-size: 4rem;
  font-family: 'Nothing You Could Do', cursive;
  width: fit-content;
}

.header__title--slashd {
  position: relative;
}

.header__title--slashd::after {
  border-bottom: 0.07rem solid rgba(0, 0, 0, 0.75);
  content: "";
  left: 0;
  margin-top: calc(0.07rem / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.main {
  text-align: center;
  margin-top: 3rem;
}

.main__title {
  font-size: 2.5rem;
}

.main__button {
  height: 5rem;
  width: 5rem;
  display: block;
  position: fixed;
  font-size: 4rem;
  bottom: 5rem;
  right: 4rem;
  border: none;
  box-shadow: .05rem .1rem .2rem .05rem rgba(0,0,0,.87);
  border-radius: 50%;
  background-color: #FF8625;
}

.completed {
  text-decoration: line-through;
}

.active {
  background-color: #FF8625;
  color: white;
}

#newTask {
  margin: 0 0 2rem;
  padding: 1rem;
  width: 80%;
}

#submitTask {
  display: flex;
  justify-content: center;
}

.filters {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters__button {
  padding: 1.5rem;
  width: 90%;
  font-weight: bold;
  color: black;
  outline: none;
  border: .1rem solid rgba(0, 0, 0, 0.192);
}

.filters__button:active {
  color: white;
}

.filters__button--remove:active {
  background-color: red;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task__item {
  padding: 1.5rem 0;
  border-top: .1rem solid rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.task__button {
  font-size: 2rem;
}

.task__label {
  width: 80%;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  #root {
    margin-bottom: 5rem;
  }

  #newTask {
    width: 40%;
  }

  .main__button {
    height: 3.9rem;
    width: 4rem;
    display: block;
    margin-left: 1.5rem;
    position: static;
    font-size: 2rem;
    bottom: 5rem;
    right: 4rem;
    border: none;
    border-radius: unset;
    box-shadow: .05rem .1rem .2rem .05rem rgba(0,0,0,.87);
    background-color: #FF8625;
  }

  .filters {
    flex-direction: row;
    justify-content: center;
  }

}